<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="{{ .Lang }}" translate="no">

<head>

    {{ partial "head.html" . }}

	{{ partial "tapped_head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body>

	{{ partial "header.html" . }}

	<main>
	{{ partial "showcase.html" . }}

	{{ partial "jobs-banner.html" . }}

	{{ partial "about.html" . }}

	{{ partial "service.html" . }}

	{{ partial "clients.html" . }}

	{{ partial "work-list.html" . }}

    {{ partial "testimonial.html" . }}

    {{ partial "contact-cta.html" . }}
	</main>

	{{ partial "footer.html" . }}

    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->
