{{ if .Site.Data.homepage.about.enable }}
<section id="about" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-12 col-md-6 mt-5 mt-sm-0 person-container">
                {{ range .Site.Data.homepage.about.items }}
                <div class="person mb-4">
                    <img class="lozad" 
                         src="{{ .image.x | absURL }}" 
                         data-src="{{ .image.x | absURL }}" 
                         data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x" 
                         alt="{{ i18n "personAlt" . }}">
                    <div class="name-and-title">
                        <span class="name">{{ .name }}</span>
                        <span class="title">{{ .title }}</span>
                        {{ if .twitter_link }}
                        <a href="{{ .twitter_link }}" target="_blank"><img style="height: 32px" alt="Twitter Logo" src="{{ "img/icons/Twitter_Logo_Blue_no_left_padding.svg" | absURL }}"></a>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="col-12 col-md-6 mb-4">
                <h2>{{ i18n "aboutTitle" }}</h2>
                <p class="lead">
                    {{ i18n "aboutContent" | safeHTML}}
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}

