{{ if .Site.Data.homepage.about.enable }}
<section id="about" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-12 col-md-6 mt-5 mt-sm-0">
                <img
                    class="img-responsive"
                    src="{{ "img/team/team.webp" | absURL }}"
                    srcset="{{ "img/team/team.webp" | absURL }} 700w, {{ "img/team/team-800.webp" | absURL }} 800w, {{ "img/team/team@2x.webp" | absURL }} 1400w"
                    sizes="(max-width: 767px) calc(100vw - 48px), 50vw"
                    width="700"
                    height="525"
                    loading="lazy"
                    decoding="async"
                    alt="{{ i18n "aboutPictureAlt" }}"
                />
            </div>
            <div class="col-12 col-md-6 mt-5 mt-sm-0">
                <h2>{{ i18n "aboutTitle" }}</h2>
                <p class="lead">
                    {{ i18n "aboutContent" | safeHTML}}
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}

