{{ if .Site.Data.homepage.additional.enable }}
<section class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12 github-account-container">
                <h2>{{ i18n "additionalTitle" }}</h2>
                <div class="github-card" data-github="tappeddev" data-width="400" data-height="160"
                     data-theme="default"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
            </div>
        </div>
    </div>
</section>
{{ end }}