{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ i18n "contactTitle" }}</h2>
            <div class="contact__info">
                <h4>{{ i18n "contactPhoneTitle" }}</h4>
                <span>{{ .Site.Data.homepage.contact.phone.number | safeHTML }}</span>
                <h4>{{ i18n "contactEmailTitle" }}</h4>
                <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                <h4>{{ i18n "contactAddressTitle" }}</h4>
                <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
            </div>
        </div>
    </div>
</section>
{{ end }}