{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact row flex-column-reverse flex-md-row">
            <div class="col-12 col-md-6 mt-5 mt-sm-0 person-container">
                {{ range .Site.Data.homepage.contact.items }}
                <div class="person mb-4">
                    <img class="lozad"
                         src="{{ .image.x | absURL }}"
                         data-src="{{ .image.x | absURL }}"
                         data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
                         alt="{{ i18n " personAlt" . }}">
                    <div class="name-and-title">
                        <span class="name">{{ .name }}</span>
                        <span class="title">{{ .title }}</span>
                        <div class="about__social-media-icons">
                            {{ if .linkedin_link }}
                            <a href="{{ .linkedin_link }}" target="_blank">
                                <img class="about__social-media-icon"
                                     alt="LinkedIn Logo"
                                     src="{{ "img/icons/linkedin.svg" | absURL }}">
                            </a>
                            {{ end }}
                            {{ if .x_link }}
                            <a href="{{ .x_link }}" target="_blank">
                                <img class="about__social-media-icon"
                                     alt="X Logo"
                                     src="{{ "img/icons/x.svg" | absURL }}">
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="col-12 col-md-6 mb-4">
                <h2>{{ i18n "contactTitle" }}</h2>
                <div class="contact__info">
                    <h4>{{ i18n "contactPhoneTitle" }}</h4>
                    <span>{{ .Site.Data.homepage.contact.phone.number | safeHTML }}</span>
                    <h4>{{ i18n "contactEmailTitle" }}</h4>
                    <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                    <h4>{{ i18n "contactAddressTitle" }}</h4>
                    <span>{{ .Site.Data.homepage.contact.address.address | safeHTML }}</span>
                </div>
            </div>

        </div>
    </div>
</section>
{{ end }}
