<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="{{ "/" | absLangURL }}">
        <!--<span>{{ .Site.Params.logo.text1 }}</span>
        <span>{{ .Site.Params.logo.text2 }}</span>-->
        <!-- TODO: Use smaller images & i18n alt text -->
        <img class="img-responsive" src="{{ .Site.Data.homepage.header.image.x | absURL }}"
          srcset="{{ .Site.Data.homepage.header.image.x | absURL }} 1x, {{ .Site.Data.homepage.header.image.x | absURL }} 2x"
          alt="Tapped logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent, #header"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          {{ range .Site.Menus.header }}
          {{ $url := print ("" | absLangURL) .URL }}
          {{ if $.IsHome }}
            {{ $url = .URL }}
          {{ end }}
          <li class="nav-item">
            <a data-scroll class="nav-link" href="{{ $url }}">{{ i18n .Name | upper }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
  <div class="color-stripe rad-fade-in">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>
