<header class="header fixed-top rad-animation-group" id="header">
  {{ partial "spatial-banner.html" . }}
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
        <span class="sr-only">Tapped</span>
        <!--<span>{{ .Site.Params.logo.text1 }}</span>
        <span>{{ .Site.Params.logo.text2 }}</span>-->
        <img class="img-responsive" src="{{ .Site.Data.homepage.header.image.x | absURL }}"
          width="156"
          height="55"
          alt="{{ i18n "logoAlt" }}" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent, #header"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          {{ range .Site.Menus.header }}
          {{- $active := or ($.IsMenuCurrent "header" .) ($.HasMenuCurrent "header" .) -}}
          {{- if and (not $active) .Page (not $.IsHome) -}}
            {{- if eq $.Section .Page.Section -}}
              {{- $active = true -}}
            {{- end -}}
          {{- end -}}
          <li class="nav-item">
            <a class="nav-link{{ if $active }} active{{ end }}" href="{{ .URL }}">{{ i18n .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
  <div class="color-stripe rad-fade-in">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</header>
