{{ if .Site.Data.homepage.showcase.enable }}
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6 pr-lg-5 mt-sm-0 mt-md-3">
        <h1 class="display-1">
          {{ i18n "showcaseTitle" }}
        </h1>
        <p class="lead">
          {{ i18n "showcaseSubtitle" }}. {{ i18n "showcaseDescription" | safeHTML }}
        </p>
        <div class="rad-showcase__actions">
          {{ with .Site.GetPage "/contact" }}
          <a href="{{ .RelPermalink }}" class="btn-pill btn-pill--primary">
            {{ i18n "showcasePrimaryCta" }}
          </a>
          {{ end }}
          {{ with .Site.GetPage "/work" }}
          <a href="{{ .RelPermalink }}" class="btn-pill btn-pill--secondary">
            {{ i18n "showcaseSecondaryCta" }}
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="rad-showcase__bg">
    <picture>
      <source
        media="(max-width: 991.98px)"
        srcset="{{ .Site.Data.homepage.showcase.image.mobile_webp | absURL }}"
        type="image/webp">
      <source
        media="(min-width: 992px)"
        srcset="{{ .Site.Data.homepage.showcase.image.x_webp | absURL }} 1178w, {{ .Site.Data.homepage.showcase.image._2x_webp | absURL }} 1473w"
        sizes="50vw"
        type="image/webp">
      <source
        media="(max-width: 991.98px)"
        srcset="{{ .Site.Data.homepage.showcase.imageMobile.x | absURL }}"
        type="image/png">
      <source
        media="(min-width: 992px)"
        srcset="{{ .Site.Data.homepage.showcase.image.x | absURL }} 1x, {{ .Site.Data.homepage.showcase.image._2x | absURL }} 2x"
        type="image/png">
      <img
        class="img-responsive"
        src="{{ .Site.Data.homepage.showcase.image.mobile_webp | absURL }}"
        width="824"
        height="786"
        style="aspect-ratio: 824 / 786"
        alt="{{ i18n "showcaseImageAlt" }}"
        fetchpriority="high"
        decoding="async">
    </picture>
  </div>
</section>
{{ end }}
