{{ if .Site.Data.homepage.showcase.enable }}
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
  <div class="rad-showcase__bg">
    <picture class="lozad img-responsive" data-alt="Showcase keyboard and mouse image">
      <source
        srcset="{{ .Site.Data.homepage.showcase.image.x_webp | absURL }} 1x, {{ .Site.Data.homepage.showcase.image._2x_webp | absURL }} 2x"
        type="image/webp">
      <source
        srcset="{{ .Site.Data.homepage.showcase.image.x | absURL }} 1x, {{ .Site.Data.homepage.showcase.image._2x | absURL }} 2x"
        type="image/png">
    </picture>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6 pr-lg-5 mt-sm-0 mt-md-3">
        <h1 class="display-1">
          {{ i18n "showcaseTitle" }}
          <br />
          <span>{{ i18n "showcaseSubtitle" }}</span>
        </h1>
        <p class="lead">
          {{ i18n "showcaseDescription" | safeHTML }}
        </p>
        <!-- TODO: Don´t hardcode contact url -->
        <a href="#contact" class="btn btn-primary">
          <i class="{{ .Site.Data.homepage.showcase.button.icon }}"></i>
          {{ i18n "showcaseContactButtonText" }}
        </a>
      </div>
    </div>
  </div>
  <div class="rad-showcase__bg rad-showcase__bg--mobile">
    <picture class="lozad img-responsive" data-alt="Showcase keyboard and mouse image">
      <source srcset="{{ .Site.Data.homepage.showcase.imageMobile.x_webp | absURL }}" type="image/webp">
      <source srcset="{{ .Site.Data.homepage.showcase.imageMobile.x | absURL }}" type="image/png">
    </picture>
  </div>
</section>
{{ end }}