<div class="rad-animation-group rad-fade-down p-5">
    <br>
    <br>
    <p class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
    <h1 class="display-4">Allgemeine Geschäftsbedingungen für Dienstleistungen</h1>

    <div>Tapped UG (Haftungsbeschränkt)</div>
    <div>Auerfeldstraße 4A</div>
    <div>81541 München</div>
    <div>- nachfolgend “Tapped” genannt -</div>
    <br>
    <br>

    <div><b>1. Gegenstand der Leistungen</b></div>

<p>1.1 Zu den nachfolgenden Bedingungen erbringt Tapped für den Auftraggeber Dienstleistungen im Bereich
    Softwareentwicklung, Projektplanung, Beratung und Unterstützung bei Softwareanwendung oder Softwareanpassung
    und
    -entwicklung.
</p>
<p>1.2 Von diesen Allgemeinen Geschäftsbedingungen abweichende Regelungen bedürfen der Schriftform. Die
    Übernahme
    einer Garantie für bestimmte Eigenschaften (Beschaffenheit) bedarf zu ihrer Wirksamkeit ebenfalls der
    schriftlichen
    Bestätigung durch Tapped.
</p>
<p>1.3 Allgemeine Geschäftsbedingungen des Kunden werden, auch wenn auf sie im Rahmen des Vertragsabschlusses
    Bezug
    genommen wurde, nur mit schriftlicher Zustimmung von Tapped Vertragsbestandteil.
</p>


<div><b>2. Angebote</b></div>
<p>2.1 Unsere Angebote sind stets freibleibend und unverbindlich.</p>
<p>2.2 In den Verträgen genannte Liefer- und Leistungstermine oder – fristen sind nur dann verbindlich, wenn
    sie
    ausdrücklich als verbindlich festgelegt worden sind.
</p>
<p>2.3 In den Angeboten genannte Liefer- und Leistungstermine oder -fristen sind von Tapped nur dann
    einzuhalten,
    wenn
    alle dem Kunden entgegengebrachte Fristen zur Lieferung von benötigen Ressourcen zum abgemachten
    Lieferzeitpunkt
    vollständig und korrekter Form geliefert werden.
</p>

<div><b>3. Leistungen von Tapped</b></div>
<p>3.1 Mit den unter diesen Bedingungen erbrachten Leistungen unterstützt Tapped ihre Kunden ausschließlich
    bei
    den
    Vorhaben, die die Kunden in eigener Verantwortung durchführen. Tapped übernimmt im Zusammenhang mit den
    erbrachten
    Leistungen keine Verantwortung für ein bestimmtes Ergebnis, soweit nichts Gegenteiliges ausdrücklich
    vereinbart
    wurde.
</p>


<div><b>4. Leistungen des Kunden</b></div>

<p>4.1 Zur Erfüllung der ihr obliegenden Leistungen ist Tapped regelmäßig auf Unterstützung des Kunden bzw.
    Zugriff
    auf dessen System und Daten angewiesen. Der Kunde wird daher Tapped in dem erforderlichen Umfang bei der
    Erbringung
    der Leistungen unterstützen. Insbesondere wird der Kunde Tapped die für den Systemzugang erforderlichen
    Informationen und Zugangsdaten zeitnah Auftragserteilung zur Verfügung stellen. Die Unterstützung durch den
    Kunden
    ist Voraussetzung für die zeitgerechte Erbringung der Dienstleistungen von Tapped. Wird diese Unterstützung
    nicht in
    dem erforderlichen Umfang erbracht, sind etwa getroffene Terminvereinbarungen hinfällig und in
    entsprechender
    Weise
    anzupassen.
</p>

<p>4.2 Der Kunde stellt sicher, dass regelmäßig Backups des gesamten IT-Systems, zu dem Tapped Zugang gewährt
    wird,
    durchgeführt werden. Der Kunde wird Tapped schnellstmöglich über etwaige Änderungen am IT-System oder den
    verarbeiteten Daten informieren, die Einfluss auf die von Tapped zu erbringenden Dienstleistungen haben
    können.
    Dies
    gilt insbesondere, wenn derartige Änderungen sich auf den Umfang und die Kosten der Dienstleistungen von
    Tapped
    auswirken können.
</p>

<p>4.3 Die Unterstützungsleistungen des Kunden für eine erfolgreiche Umsetzung des Projektes erfolgen für
    Tapped
    ohne
    zusätzliche Berechnung.
</p>

<p>4.4 Vorbehaltlich abweichender Vereinbarung umfasst die Unterstützung des von Tapped durch den Kunden,
    insbesondere
    Folgendes:
</p>

<ul>
    <li>Zugang zu dem IT-System des Kunden mit Administratorrechten</li>
    <li>Unterstützung durch einen Mitarbeiter aus dem IT-Bereich des Kunden mit vollen Zugangsrechten zum System
    </li>
</ul>


<div><b>5. Nutzungsrechte</b></div>

<p>5.1 Sämtliche in Verbindung mit den Dienstleistungen von Tapped stehenden Gewerblichen Schutzrechte,
    insbesondere
    Urheberrechte an erbrachten Leistungen, verbleiben bei Tapped. Dem Kunden werden diejenigen Nutzungsrechte
    eingeräumt, die für eine vertragsgemäße Nutzung der Dienstleistungen von Tapped erforderlich sind.
    Beabsichtigt
    der
    Kunde, Dritten Nutzungsrechte an den erbrachten Dienstleistungen einzuräumen, bedarf dies der schriftlichen
    Zustimmung von Tapped.
</p>

<div><b>6. Kündigung</b></div>
<p>6.1 Kündigt der Kunde den Vertrag oder einzelne Leistungsteile vor Leistungserbringung, so behält Tapped
    bei
    Verträgen, die zu einem Fest- oder Mindestpreis abgewickelt werden, den vollen Zahlungsanspruch. Tapped muss
    sich
    jedoch das anrechnen lassen, was sie infolge der Kündigung an Aufwendungen erspart, durch anderweitigen
    Einsatz
    erwirbt oder böswillig zu erwerben unterlässt.
</p>

<div><b>7. Preise und Zahlungsbedingungen</b></div>

<p>7.1 Die Rechnungsstellung erfolgt nach Leistungserbringung.</p>
<p>7.2 Alle Preise verstehen sich in EURO zuzüglich der jeweils gültigen gesetzlichen Mehrwertsteuer.</p>
<p>7.3 Der Kunde zahlt spätestens innerhalb von 10 Tagen ab Rechnungsdatum ohne Abzug, soweit nichts
    Gegenteiliges
    ausdrücklich vereinbart wurde.
</p>

<p>7.4 Für den Eintritt des Zahlungsverzugs und seine Folgen gelten die gesetzlichen Regelungen.</p>

<p>
    7.5 Erstreckt sich die Leistungserbringung über mehr als einen Monat, kann Tapped während der
    Auftragsabwicklung
    für
    die
    innerhalb eines Kalendermonats erbrachten Leistungen zum Monatsende eine Abschlagszahlung verlangen.
</p>
<p>7.6 Werden Tapped nach Vertragsabschluss Umstände bekannt, welche die Kreditwürdigkeit des Kunden infrage
    stellen,
    ist
    Tapped berechtigt, ihre Leistungen von der Vorauszahlung der vereinbarten Gebühren oder einer
    Sicherheitsleistung in
    gleicher Höhe abhängig zu machen.
</p>
<p>7.7 Die Aufrechnung mit nicht rechtskräftig festgestellten oder nicht anerkannten Forderungen ist
    ausgeschlossen.
    Ein
    Zurückbehaltungsrecht kann der Kunde nur im Hinblick auf Gegenansprüche aus diesem Vertragsverhältnis
    geltend
    machen.
</p>

<div><b>8. Qualität der Leistungen/Haftung</b></div>

<p>8.1 Tapped steht dafür ein, dass die von ihr erstellten Programme den vereinbarten Spezifikationen
    entsprechen.
    Bei
    von
    ihr zu vertretenden Mängeln der von ihr erstellten Programme ist Tapped ausschließlich verpflichtet, diese
    nach
    ihrer
    Wahl durch Nachbesserung oder Neulieferung zu beheben. Eine Verlängerung der Verjährungsfrist ist damit
    nicht
    verbunden.
    Schlägt die Mängelbeseitigung fehl, so kann der Kunde Tapped schriftlich eine angemessene weitere Nachfrist
    setzen
    und
    nach einem erneuten Fehlschlag anteilige Herabsetzung der Vergütung (Minderung) verlangen; der Anspruch auf
    Beseitigung
    des konkreten Mangels ist dann ausgeschlossen. Diese Rechte beschränken sich ausschließlich auf die
    anteilige
    Vergütung
    für die Programmerstellung, sofern durch die Mängel nicht die gesamte von Tapped erbrachte Dienstleistung
    wertlos
    wird.
</p>


<p>
    8.2 Zur Vorbeugung gegen Schäden beachtet der Kunde auch im eigenen Interesse die im IT-Bereich üblichen
    oder
    empfohlenen Vorsichtsmaßnahmen und stellt z. B. sicher, dass Daten und Programme regelmäßig gesichert werden
    und
    mit
    vertretbarem Aufwand rekonstruiert werden können
</p>

<p>
    8.3 Für Schäden an von Tapped entwickelter Software für die Tapped nicht direkt verantwortlich ist,
    übernimmt
    Tapped
    keine Gewährleistung!
    Dies können Softwareupdates der jeweiligen Plattform sein, Änderungen der Richtlinien vom Hersteller oder
    nicht
    mehr
    funktionsfähige Software aus Gründen für die Tapped nicht verantwortlich ist.
</p>


<div><b>9. Vertraulichkeit</b></div>


<p>
    9.1 Die Vertragspartner verpflichten sich einander zeitlich unbeschränkt, über Geschäfts- und
    Betriebsgeheimnisse
    sowie
    als vertraulich bezeichneten Informationen, die im Zusammenhang mit der Vertragsdurchführung zugängig
    gemacht
    werden,
    Stillschweigen zu bewahren.
</p>

<p>
    9.2 Die Weitergabe an nicht mit der Durchführung des Auftrages beschäftigte Dritte erfolgt nur mit
    vorheriger
    schriftlichen Zustimmung des jeweils anderen Vertragspartners.
</p>


<div><b>10. Allgemeines</b></div>

<p>
    10.1 Die Rechte aus dem Vertrag können nur mit Zustimmung von Tapped auf Dritte übertragen werden.
</p>

<p>
    10.2 Sofern eine Bestimmung im Rahmen des Vertragsverhältnisses der Vertragspartner unwirksam ist, berührt
    dies
    die
    Wirksamkeit der übrigen Bestimmungen nicht. Die unwirksame Bestimmung wird durch eine andere ersetzt, die
    dem
    ursprünglich angestrebten Zweck so nah wie möglich kommt.
</p>

<p>
    10.3 Gerichtsstand für alle Streitigkeiten außer im Zusammenhang mit diesem Vertrag ist München.
</p>

<p>
    10.4 Für die Vertragsbeziehung gilt deutsches Recht.
</p>
</div>
</div>