<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impressum</title>
</head>
<body>

    <h2><b>Unternehmen:</b></h2>

    <div>Tapped UG (Haftungsbeschränkt)</div>
    <div>Auerfeldstraße 4A</div>
    <div>81541 München</div>

    <div>Registernummer: HRB 251518</div>
    <div>Eintragung in: München</div>
    <div>Eintragung seit: 16.09.2019</div>
    <div>USt-IdNr.: DE326852223</div>
    <div>Geschäftsführung: Stefan Schaller</div>

    <div>Erreichbarkeit:</div>

    <div>Geschäftsführer:</div>
    <div>Stefan Schaller:</div>
    <div>E-Mail: stefan.schaller@tapped.dev</div>
    <div>Mobile: +49 (0) 176 - 30400083</div>

    <div>Allgemein:</div>
    <div>E-Mail: contact@tapped.dev</div>


</body>
</html>