<h2>{{ i18n "legalNoticeCompany" }}</h2>
<p class="legal-address">
    Tapped GmbH<br>
    Krumpenhofweg 2<br>
    80639 München
</p>

<dl class="page-meta legal-meta">
    <div class="page-meta__row">
        <dt>{{ i18n "legalNoticeRegisterNumber" }}</dt>
        <dd>HRB 251518</dd>
    </div>
    <div class="page-meta__row">
        <dt>{{ i18n "legalNoticeRegisteredIn" }}</dt>
        <dd>München</dd>
    </div>
    <div class="page-meta__row">
        <dt>{{ i18n "legalNoticeRegisteredSince" }}</dt>
        <dd>16.09.2019</dd>
    </div>
    <div class="page-meta__row">
        <dt>{{ i18n "legalNoticeVatId" }}</dt>
        <dd>DE326852223</dd>
    </div>
    <div class="page-meta__row">
        <dt>{{ i18n "legalNoticeManagingDirectors" }}</dt>
        <dd>Stefan Schaller, Karim-Julian Bissekkou</dd>
    </div>
</dl>

<h2>{{ i18n "legalNoticeReachability" }}</h2>
<dl class="page-meta legal-meta">
    <div class="page-meta__row">
        <dt>{{ i18n "legalNoticeManagingDirector" }}</dt>
        <dd>
            Stefan Schaller<br>
            <a href="mailto:stefan.schaller@tapped.dev">stefan.schaller@tapped.dev</a>
        </dd>
    </div>
    <div class="page-meta__row">
        <dt>{{ i18n "legalNoticeManagingDirector" }}</dt>
        <dd>
            Karim-Julian Bissekkou<br>
            <a href="mailto:julian.bissekkou@tapped.dev">julian.bissekkou@tapped.dev</a>
        </dd>
    </div>
    <div class="page-meta__row">
        <dt>{{ i18n "legalNoticeEmail" }}</dt>
        <dd><a href="mailto:contact@tapped.dev">contact@tapped.dev</a></dd>
    </div>
</dl>
