<div class="rad-animation-group rad-fade-down p-5">
    <br>
    <br>
    <p class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">


    <h1 class="display-4">Impressum</h1>

    <br>
    <br>

    <h4><b>Unternehmen</b></h4>

    <div>Tapped UG (Haftungsbeschränkt)</div>
    <div>Auerfeldstraße 4A</div>
    <div>81541 München</div>

    <br>
    <br>

    <div>Registernummer: HRB 251518</div>
    <div>Eintragung in: München</div>
    <div>Eintragung seit: 16.09.2019</div>
    <div>USt-IdNr.: DE326852223</div>
    <div>Geschäftsführung: Stefan Schaller</div>

    <br>
    <br>

    <h4><b>Erreichbarkeit:</b></h4>

    <div>Geschäftsführer: <b>Stefan Schaller</b></div>
    <div>E-Mail: stefan.schaller@tapped.dev</div>
    <div>Mobile: +49 (0) 176 - 30400083</div>


    <br>
    <br>

    <div>E-Mail: contact@tapped.dev</div>
</div>
</div>